@import "tailwindcss";

@theme {
    --font-display: "Roboto", "sans-serif";
}

:body {
  @apply bg-gray-100 text-gray-900 font-display;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

h1 {
  @apply text-3xl mb-4;
}

.button-primary {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.button-primary:hover {
  @apply bg-blue-700 cursor-pointer;
}

.button-secondary {
  @apply bg-gray-500 text-white font-bold py-2 px-4 rounded;
}
.button-secondary:hover {
  @apply bg-gray-700 cursor-pointer;
}

.button-danger {
  @apply bg-red-500 text-white font-bold py-2 px-4 rounded;
}
.button-danger:hover {
  @apply bg-red-700 cursor-pointer;
}

.button-warning {
  @apply bg-yellow-500 text-white font-bold py-2 px-4 rounded;
}
.button-warning:hover {
  @apply bg-yellow-700 cursor-pointer;
}